.line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: $c-accent;
  z-index: 200;
  transform: scaleX(0);
  transform-origin: left;
  pointer-events: none;
  will-change: transform;
}
